{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog.</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    {% if user.is_authenticated %}
      <div class="logged">
        <div class="container">
          Admin.
          <a href="{% url 'post_new' %}" class="controls">Post new</a>
        </div>
      </div>
    {% endif %}
    <div class="padded container">
      <header>
        <h1><a href="/">Blog.</a></h1>
      </header>
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
