{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Girls Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <div class="container">
      <h1><a href="/">Django Girls Blog</a></h1>
      <div class="posts">
        {% for post in posts %}
          <div class="post">
            <p class="meta">{{ post.published_date|date:"D d.m.Y · g.iA" }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p class="meta">&mdash;</p>
            <p class="body">{{ post.text|linebreaksbr }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
